#title{
    text-align: center;
}

#close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
    display: flex;
}

#close-icon:hover{
    cursor: pointer;
}

.full-width {
    width: 100%;
}

#hbtn{
    background: rgb(0, 102, 255);
    color: white;
}

/* #closebtn{
    position: relative;
    left: 38%;
} */
